body {
  /* background-color: #faf8f1; */
  background-color: whitesmoke;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  height: 80px;
  list-style: none;
  position: relative;
}

.navbar-items {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 30px;
}

.navbar-item {
  display: inline;
  padding-right: 30px;
  font-size: 22px;
  font-weight: bold;
}

body {
  margin: 0;
}

.card-container {
  border-style: solid;
  border-color: black;
  width: 50%;
  margin-left: 25%;
  border-radius: 5%;
  border-width: 25px;
}

.card {
  text-align: center;
  margin-top: 50px;
}

.buttons {
  margin-top: 25px;
}

.generateNew {
  width: 125px;
  height: 50px;
  margin-right: 25px;
  border-width: 5px;
  background-color: lightgrey;
  border-radius: 25%;
}

.returnToSelect {
  width: 125px;
  height: 50px;
  margin-left: 25px;
}

.button-15 {
  -webkit-appearance: none;
  background-color: black;
  height: 15px;
  width: 30px;
  position: absolute;
  left: 270px;
  top: 135px;
}

.button-30 {
  -webkit-appearance: none;
  background-color: black;
  height: 30px;
  width: 15px;
  position: absolute;
  left: 135px;
  top: 270px;
}

.button-45 {
  -webkit-appearance: none;
  background-color: black;
  height: 15px;
  width: 30px;
  position: absolute;
  left: -5px;
  top: 135px;
}

.button-hour {
  -webkit-appearance: none;
  background-color: black;
  height: 30px;
  width: 15px;
  position: absolute;
  left: 135px;
  top: -5px;
}

.selectTime {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  border-width: 10px;
}

.form-inputs {
  display: flex;
  justify-content: space-evenly;
}