body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  height: 80px;
  list-style: none;
  position: relative;
}

.navbar-items {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 30px;
}

.navbar-item {
  display: inline;
  padding-right: 30px;
  font-size: 22px;
  font-weight: bold;
}

body {
  margin: 0;
}