body {
  /* background-color: #faf8f1; */
  background-color: whitesmoke;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  height: 80px;
  list-style: none;
  position: relative;
}

.navbar-items {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 30px;
}

.navbar-item {
  display: inline;
  padding-right: 30px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: !important none;
}

body {
  margin: 0;
}

.card-container {
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  border-width: 7px;
  background-color: white;
  text-align: center;
  width: 35%;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.card-buttons {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.generateNew {
  -webkit-appearance: none;
  background-color: white;
  height: 75px;
  width: 150px;
  border: solid black;
  font-weight: bold;
  border-width: 7px;
  border-radius: 10%;
  margin-right: 15px;
  cursor: pointer;
  font-size: 22px;
}

.returnToSelect {
  -webkit-appearance: none;
  background-color: white;
  height: 75px;
  width: 150px;
  border: solid black;
  font-weight: bold;
  border-width: 7px;
  border-radius: 10%;
  margin-left: 15px;
  cursor: pointer;
  font-size: 22px;
}

.button-15 {
  -webkit-appearance: none;
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  left: 370px;
  top: 180px;
  cursor: pointer;
}

.button-30 {
  -webkit-appearance: none;
  background-color: black;
  height: 40px;
  width: 20px;
  position: absolute;
  left: 190px;
  top: 360px;
  cursor: pointer;
}

.button-45 {
  -webkit-appearance: none;
  background-color: black;
  height: 20px;
  width: 40px;
  position: absolute;
  left: -5px;
  top: 180px;
  cursor: pointer;
}

.button-hour {
  -webkit-appearance: none;
  background-color: black;
  height: 40px;
  width: 20px;
  position: absolute;
  left: 190px;
  top: -5px;
  cursor: pointer;
}
/* 
.circle {
  background-color: black;
  height: 20px;
  width: 20px;
  left: 195px;
  top: 180px;
  position: absolute; 
  border-radius: 50%;

} */

.selectTime {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  width: 410px;
  height: 400px;
  position: relative;
  border-width: 7px;
  background-color: white;
}

.read-button {
  -webkit-appearance: none;
  height: 150px;
  width: 150px;
  margin-top: 35px;
  background-color: white;
  margin-right: 25px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
  border-width: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('text.png');
  background-size: 135px;
  background-repeat: no-repeat;
  background-position: center;
}

.watch-button {
  -webkit-appearance: none;
  margin-top: 35px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin-left: 25px;
  border: solid black;
  border-width: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('playarrow.png');
  background-size: 145px;
  background-repeat: no-repeat;
  background-position: center;
}

.do-button {
  -webkit-appearance: none;
  height: 150px;
  width: 150px;
  background-color: white;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 10px;
  border: solid black;
  border-width: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('window.png');
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: center;
}

.learn-button {
  -webkit-appearance: none;
  height: 150px;
  width: 150px;
  background-color: white;
  margin-left: 25px;
  border: solid black;
  border-width: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('question.png');
  background-size: 145px;
  background-repeat: no-repeat;
  background-position: center;
}

.form-inputs {
  display: flex;
  justify-content: space-evenly;
}

.select-activity-container {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.submit-button-container {
  text-align: center;
  position: relative;
  bottom: -25px;
}

.submit-button {
  -webkit-appearance: none;
  background-color: white;
  font-size: 22px;
  height: 75px;
  width: 150px;
  border: solid black;
  font-weight: bold;
  border-width: 7px;
  border-radius: 10%;
  cursor: pointer;
}

.product-name {
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
}